{
  "plugins": [ "lodash" ],
  "presets": [
    [ "@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": [ "last 2 versions", "safari >= 7" ]
      }
    } ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
