{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }],
    "minify"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-async-to-generator",
        "istanbul"
      ]
    }
  }
}
